<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin1.bid4cattle_final">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Presentation_Layer.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Presentation_Layer.ListCattle_Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Presentation_Layer.AuctionCattle" />
        <activity android:name=".Presentation_Layer.BuyCattle" />
        <activity android:name=".Presentation_Layer.WelcomeActivity" android:exported="true" />

        <activity android:name=".Presentation_Layer.SignupActivity" />
        <activity android:name=".Presentation_Layer.AddCattle" />
        <activity android:name=".Presentation_Layer.Collaborate" />

        <activity android:name=".Presentation_Layer.SigninActivity"></activity>
    </application>

</manifest>